body{
    background-image: url(trading.jpeg);
    background-size: cover;
}

.navbar{
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #F0F2BD;
}
#portfolio{
    margin-right: 5%;
}
#logo{
    height: 75px;
}


#signup{
    display: inline-block;
    position: relative;
    margin: 5% 40% 40% 30%;
    color: #F0F2BD;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    height: 800px;
    width: 500px;
}

legend{
    font-size: xx-large;
}

.error{
    color:red;
}